{% extends "base.html" %}

{% block body %}
    {% with folder=folder %}
        <h1>Topic: {{ page_title }}/</h1>


        {% with pages=pages %}
            <ul class="list-group">
                {% for page in pages %}

                    <li class="list-group-item">
                        <a href="{{ url_for('main.page', folder=folder, path=page) }}"><h3>{{ page }}</h3></a>
                    </li>

                {% endfor %}
            </ul>
        {% endwith %}
    {% endwith %}
{% endblock %}folder