{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Shura Kotlerman</h1>
        <p>This is my web page. Please feel free to look around.
            You can also find me on <a href="https://github.com/akotlerman">Github</a>.</p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>What's here?</h1>
            <h3>About me</h3>
            <p>B.S in Physics from UCSB, class of 2013. Data Scientist, Programmer, Tutor, Acrobat.
                I love games, programming, acrobatics, philosophy,
                and anything else technical. I recently read Dune, and was deeply inspired. My favorite
                color varies between <span style="color: #3CB371">#3CB371</span> and <span style="color: #4169E1">#4169E1</span>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Growth</h3>
            <p>I am in my prime years and focusing on growth. "Work Hard Not Smart" as the saying goes.
                This is not purely a selfish gesture: I look foward to communincating and teaching
                through my own experiences with the belief that shared experiences are essential to growth.</p>
        </div>

        <div class="col-md-4">
            <h3>Hobbies</h3>
            <p>I enjoy many hobbies centered around creating. These include 3D printing, card games, chess,
                programming, building, fixing, you name it. Feel free to e-mail me with motivational conntent
                centered around making and creativity. Some of my favorite inspirational web-sources include
                <a href="http://hackaday.com">Hackaday</a>,
                <a href="https://www.youtube.com/user/destinws2">Smarter Every Day</a>,
                <a href="https://whatif.xkcd.com/">XKCD's What-If?</a></p>
        </div>

        <div class="col-md-4">
            <h3>Hype</h3>
            <p>I enjoy other people's hype, and I try to create my own. If you are excited about something technical,
                or downright sepcific, I have a deep appreciation for it regardless of what it is.
                I don't care if it's the texture of rocks or gourmet food. If you are hyped, tell me about it!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Futurism</h3>
            <p>I have one question and one question only: if there was a great medical discovery and as a result
                no one ever died of natural causes,
                what would the world look like? I'm not as interested in the story behind a possible dystopian
                future. I am interested in the process of how we got there.</p>
        </div>

        <div class="col-md-4">
            <h3>Motivation</h3>
            <p>Don't give up, and don't give in. </p>
        </div>

        <div class="col-md-4">
            <h3>Common Sense</h3>
            <p>There is no problem that cannot be solved if someone, or some people, think about it long enough.
                The world survives on good ideas and solution to bad situations. Everything else is an axiom. </p>
        </div>
    </div>
{% endblock %}
